/* Styles for the whole App */

/* CSS Reseter */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body{
  overflow-x: hidden;
}

.crazyBtn {
    font-weight: bolder;
    --b: 0.2em;   
    --c: #000000;
    
    color: #ffffff;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .crazyBtn:hover {
    --_p: 100%;
    --_s: .3s;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* Homepage Styles */
.card-text {
  color: black;
  text-decoration: none !important;
}

.colour-block {
  background:#fd8d20;
  padding:5% 1% 5% 1%;
}

.white-block {
  background: var(--layer8-color);
  padding:5% 1% 5% 1%;
}

.colour-block-dm {
  background:#fd8e67;
  padding:5% 1% 5% 1%;
}

.white-block-dm {
  background:var(--layer1-color);
  padding:5% 1% 5% 1%;
}

.skew-cc{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to right bottom, #fd8d20 49%, #fff 50%),    
              linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.skew-c{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, #fd8d20 50%);
}

.skew-cc-dm{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to right bottom, #fd8e67 49%, var(--layer1-color) 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.skew-c-dm{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to left bottom, var(--layer1-color) 49%, #fd8e67 50%);
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* Nav Styles */
.navSizing {
  height: 5rem ;
}

.menuOption:hover{
  background-color: var(--layer3-color);
  color: var(--layer8-color);
  text-shadow: 1px .1px 2px var(--layer0-color);
  border-radius: 10px 10px 10px 10px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* Game Styles */


/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* CRUD Styles */
.table-bordered th, .table-bordered td { 
  border: 1px solid #393939 !important;
}

.btnRemoveStyle{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.crudBtn{
  padding: .6rem;
  text-decoration: none;
  border: black 0px 0px;
  border-radius: 10%;
}

.noWarpCrud{
  white-space: nowrap;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* Dark Mode Styles */
.layer0 {background-color: var(--layer0-color)}
.layer1 {background-color: var(--layer1-color)}
.layer2 {background-color: var(--layer2-color)}
.layer3 {background-color: var(--layer3-color)}
.layer4 {background-color: var(--layer4-color)}
.layer5 {background-color: var(--layer5-color)}
.layer6 {background-color: var(--layer6-color)}
.layer7 {background-color: var(--layer7-color)}
.layer8 {background-color: var(--layer8-color)}

.fontDM{
    color: #F7F7F7;
    text-shadow: 1px .1px 2px rgba(0, 0, 0, 0.8);
}

.tableBorder{
  border: #515151;
  box-shadow:  1px .1px 2px rgba(0, 0, 0, 0.8);
}

.borderControll{
    border: none;
    box-shadow:  0.1em 0.1em 0.3em rgba(0, 0, 0, 0.3) ;
}

.dark-mode {
  --layer0-color: #222222;
  --layer1-color: #3B3B3B;
  --layer2-color: #515151;
  --layer3-color: #626262;
  --layer4-color: #7E7E7E;
  --layer5-color: #9E9E9E;
  --layer6-color: #B1B1B1;
  --layer7-color: #CFCFCF;
  --layer8-color: #E1E1E1;
}