{% extends "layout.html" %}
{% block content %}
<div class="container">
  <hr>
<div onclick class="row">
  <div class="col m-5">
    <a class="card-text" href="{{ url_for('runtime') }}">
      <div class="card shadow-sm">
        <img src= "{{ url_for('static',filename='release.png') }}" alt="test" width="100%" height="100%" class="card-img-top" width="100px" height="250px" ></img>
        <div class="card-body">
          <p class="card-text">"Release Date Riddles" a game mode that challenges your movie knowledge by guessing the release dates. Test your intuition and determine when each movie was released. Use clues and hints to refine your predictions, earn points, and climb the leaderboard. Show off your film expertise and enjoy the thrill of deciphering release dates!</p>
            <hr>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-body-secondary">Highscore: 134</strong>
          </div>
        </div>
      </div>
    </a>
  </div>


  <div class="col m-5">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='layout.css') }}">
    <a class="card-text" href="{{ url_for('runtime') }}">
      <div class="card shadow-sm">
        <img src= "{{ url_for('static',filename='runtime.png') }}" alt="test" width="100%" height="100%" class="card-img-top" width="100px" height="250px" ></img>
        <div class="card-body">
          <p class="card-text">"Guess the duration" is a captivating game mode that combines entertainment, knowledge, and strategy. It's time to showcase your cinematic expertise and take your place among the film connoisseurs. Get ready to immerse yourself in the enchanting world of movies and let the guessing begin!</p>
          
          <hr>

          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-body-secondary">Highscore: 467</strong>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>


<div>
  <hr>
</div>

<link rel="stylesheet" href="layout.css">

<div class="row m-auto" style="width: 50%; height: 100%">
  <a class="card-text" href="{{ url_for('discord') }}">
    <div class="card shadow-sm">
      <img src= "{{ url_for('static',filename='new.jpg') }}" alt="test" width="100%" height="100%" class="card-img-top" width="100px" height="200px" ></img>
      <div class="card-body">
        <strong>Currently working on Bigger and Better game Modes for you </strong>
        <hr>
        <p>Join our Discord of you want to see new updates</p><div class="d-flex justify-content-between align-items-center">
          <strong class="text-body-secondary"><u>Discord</strong>
        </div>
      </div>
    </div>
  </a>
</div>


<div class="row m-auto" style="width: 60%; height: 100%">
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src= "{{ url_for('static',filename='image1.jpg') }}" alt="test" width="50%" height="50%" class="card-img-top" width="100px" height="200px" ></img>
    </div>
    <div class="carousel-item">
      <img src= "{{ url_for('static',filename='image2.jpg') }}" alt="test" width="50%" height="50%" class="card-img-top" width="100px" height="200px" ></img>
    </div>
    <div class="carousel-item">
      <img src= "{{ url_for('static',filename='image3.jpg') }}" alt="test" width="50%" height="50%" class="card-img-top" width="100px" height="200px" ></img>
    <h1>Unter Beobachtung</h1>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" style="background-color:black; color:green"data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" style="background-color:black; color:green"  data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" fill="black" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<br><br><br><br><br><br>
</div>




{% endblock %}