{% extends "layout.html" %}
{% block content %}

<p>https://getbootstrap.com/docs/4.4/ (28.05.2023 7:55)</p>
<p>https://www.digitalocean.com/community/tutorials/how-to-use-a-postgresql-database-in-a-flask-application (28.05.2023 17:20)</p>
<p>https://wtforms.readthedocs.io/en/2.3.x/ext/</p>
<p>https://flask-login.readthedocs.io/en/latest/</p>
<p>https://www.freeflagicons.com/buy/round_icon/</p>
<p>https://compilezero.medium.com/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129</p>
<p>https://uxdesign.cc/designing-dark-mode-c7bd200eaa64</p>

{% endblock %}