{% extends "layout.html" %}
{% block content %}

    <div class="d-flex border rounded-4 p-5">
        <form class="d-flex flex-column justify-content-center align-items-center" method="POST" action="{{ url_for('update', movie_id=movie.id) }}">
            {{ update_form.hidden_tag() }}

            {{ update_form.title.label(class="form-label mt-2") }}
            {{ update_form.title(class="form-control") }}

            {{ update_form.director.label(class="form-label mt-2") }}
            {{ update_form.director(class="form-control") }}

            {{ update_form.duration.label(class="form-label mt-2") }}
            {{ update_form.duration(class="form-control") }}

            {{ update_form.description.label(class="form-label mt-2") }}
            {{ update_form.description(class="form-control") }}

            {{ update_form.updateSubmit(class="btn btn-primary") }}
        </form>
    </div>

{% endblock %}